.git
.gitignore

__pycache__
*.py[cod]
*.so
.venv/
.env

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
local_debug/

.DS_Store
Thumbs.db
*.swp
*.swo


data/
*.db
*.sqlite*
.env
.env.example

.vscode/
.idea/
